# ===============================
# Spring Boot
# ===============================

target/
*.jar
*.war


# ===============================
# Local configuration secrets
# ===============================

**/application-local.properties
**/application-dev.properties


# ===============================
# IDE
# ===============================

.idea/
.vscode/


# ===============================
# Logs
# ===============================

*.log


# ===============================
# OS
# ===============================

.DS_Store


# ===============================
# Environment files
# ===============================

.env
.env.*


# ===============================
# Temporary files
# ===============================

*.tmp
*.swp

.puku